html {
    scroll-behavior: smooth;
  }
html, body{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #fafafa;
}
header nav{
    box-shadow: none;
}
nav{  
    /* height: 100px; */
    background-color: #005a76;
}
nav li{
    /* margin: .8em 0 0; */

}
nav ul a{
    color: white;
    font-family: 'Megrim', cursive;
    font-size: 2em;
}
a.btn-small{
    background-color: #00263e;
}
a.btn-small:hover{
    background-color: #005a76;
    box-shadow: none;
}
#me{
    /* width: 2em;
    border-radius: 40px;
    margin-top: .1em;
    margin-left: 2em; */

    width: 2em;
    border-radius: 40px;
    /* margin-top: .5em; */
    margin-left: 2em;
}
 .main{
    margin-top: 1em;
    width: 100%;
    background-size: 100%;
    background-image: url("images/unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-clip-path: polygon(0 20%, 0% 100%, 100% 100%, 100% 20%, 80% 5%, 75% 35%, 60% 0, 40% 0, 25% 35%, 20% 5%);
}
div.about-me .row{
    background-size: 100%;
    background-image: url("images/unsplash.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
img{
    width: 100%;
    clip-path: url("#my-shape");
}
svg.svg-content{
    /* position: absolute; */
    /* z-index: 10; */
}
/* .my-card{
    margin-top: 200px;
} */
div.row{
    /* height: 00px; */
}
.my-card{
    margin: 150px 0;
}
.our-team{
    margin: 0;
    padding: 0;
    padding: 30px 0 40px;
    background: rgba(0,0,0,.2);
    border: white 2px solid;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    animation-name: glow;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: normal ;
}
@keyframes glow{
    0%{
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }
    5%{
        -webkit-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
        box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
    }
    10%{
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }
    15%{
      
        -webkit-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
        box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
    }
    20%{
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }

}
.our-team:hover{
    background: #f5f5f5;
    transition: all 0.9s ease 0s;
    animation-name: none;

}
.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    /* background: #00263e; */
    position: relative;
    z-index: 1;
}
.our-team .pic::before{
    content: "";
    width: 100%;
    height: 0;
    background: #00263e;
    position: absolute;
    border-radius: 50%;
    bottom: 150%;
    right: 0;
    left: 0;
    transform: scale(3);
    /* transition: all 1s linear 0s; */
}
.our-team:hover .pic::before{
    height: 100%;
    transition: all .9s linear 0s;
}
.our-team .pic::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00263e;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* transition: all 0.5s linear 0s; */
}
.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #005a76;
    transform: scale(0.7);
}
.our-team .team-content{
    margin-bottom: 30px;
}
.our-team .title{
    font-size: 22px;
    font-weight: 700;
    color: transparent;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    color: transparent;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}
.our-team:hover .title,
.our-team:hover .post{
    color: #00263e;
    transition: all 1s ease 1s;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    /* background: #00263e; */
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 1s ease 0s;
}
.our-team:hover .social{
    bottom: 0;
}
.our-team .social li{
    display: inline-block;

}
.our-team .social li a{
    margin-bottom: 1em;
    background: #00263e;
    display: block;
    /* padding: 10px; */
    font-size: 17px;
    /* color: white; */
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    transition: all .5s ease 0s;
}
.our-team .social li a:hover{
    color: #005a76;
    background: white;
    text-decoration: none;
    /* -webkit-box-shadow: none;
    box-shadow: none; */
    border: 1px solid #00263e;
    transition: all .5s ease 0s;
}
div.container{
    background-color: #212121;
}
div.container span.title{
    color: #fafafa
}
.sections{
    margin: 20px 0;
    background-color: #005a76;
}
div.col.s10.m10.push-s1.push-m1.sections{
    padding: 0;
    /* -webkit-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1); */
     border: white 2px solid;
}
i.fas.fa-5x{
    padding: .2em
}
.icon{
    text-align: center;
    background-color:#212121;
}
i.fas:before {
    color: #005a76;
}
div .header{
    text-align: center;
    margin: .5em;
    font-size: 5em;
    color: #00263e;
    font-family: 'Megrim', cursive;
}
.content{
  text-align: center;
  /* -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1); */
}
.paragraph{
    padding: 1em;
    font-family: 'Roboto Mono', monospace;
    background-color: #fafafa;
    color: #212121;
}
footer.page-footer{
    background-color: #212121;
}