@font-face{
    src: url(fonts/SweetHandwrite.ttf);
    font-family: sweet;
}
@font-face{
    src: url(fonts/SweetHandwrite-Bold.ttf);
    font-family: bold-sweet;
}
@font-face{
    src: url(fonts/Elmo.ttf);
    font-family: elmo;
}
@font-face{
    src: url(fonts/ageng\ sans.ttf);
    font-family: ageng;
}
html {
    scroll-behavior: smooth;
  }
html, body{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fafafa;
}
header nav{
    box-shadow: none;
}
.navbar-fixed nav{  
    /* height: 100px; */
    transition-duration: .5s;
    /* height: 4em; */
    background-color: #fafafa;
}
nav li{
    /* margin: .8em 0 0; */

}
nav ul a{
    transition-duration: .5s;
    color: #212121;
    /* font-family: 'Megrim', cursive; */
    font-family: sweet;
    font-size: 2em;
}
.active{
    transition-duration: .5s;
    height: 5em;
    background-color: #212121 !important;
    /* font-variant-caps: #fafafa; */
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.links{
    transition-duration: .5s;
    color: #fafafa;
}
a.btn-small{
    background-color: #00263e;
}
a.btn-small:hover{
    background-color: #005a76;
    box-shadow: none;
}
#me{
    /* width: 2em;
    border-radius: 40px;
    margin-top: .1em;
    margin-left: 2em; */

    width: 2em;
    border-radius: 40px;
    /* margin-top: .5em; */
    margin-left: 2em;
}
 .main{
    margin-top: 1em;
    width: 100%;
    background-size: 100%;
    background-image: url("images/main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-clip-path: polygon(0 20%, 0% 100%, 100% 100%, 100% 20%, 80% 5%, 75% 35%, 60% 0, 40% 0, 25% 35%, 20% 5%);
}
div#background-one{
    width: 100%;
    /* height: 500px; */
    position: relative;
    z-index: -10;
    /* content: ''; */
    background-size: 100%;
    background-image: url("images/main.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 0 100%, 20% 70%, 0 80%, 20% 20%, 0 40%, 0 0, 100% 0, 100% 40%, 80% 20%, 100% 80%, 80% 70%, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 20% 70%, 0 80%, 20% 20%, 0 40%, 0 0, 100% 0, 100% 40%, 80% 20%, 100% 80%, 80% 70%, 100% 100%, 100% 0);
}
div#content-one{
    /* position: relative;
    z-index: 1;
    background-color: #fafafa */
}
div.about-me .container{
    /* position: absolute; */
}
div.about-me .row{
    /* background-size: 100%;
    background-image: url("images/80.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */

}

img{
    width: 100%;
    /* filter: grayscale(90%); */
    clip-path: url("#my-shape");
}
svg.svg-content{
    /* position: absolute; */
    /* z-index: 10; */
}
/* .my-card{
    margin-top: 200px;
} */
div.row{
    /* height: 00px; */
}
.my-card{
    margin: 150px 0;
}
.our-team{
    margin: 0;
    padding: 0;
    padding: 30px 0 40px;
    background: rgba(0,0,0,.2);
    border: white 2px solid;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    animation-name: glow;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: normal ;
}

.our-team .pic img{
    filter: grayscale(60%);
}
@keyframes glow{
    0%{
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }
    5%{
        -webkit-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
        box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
    }
    10%{
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }
    15%{
      
        -webkit-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
        box-shadow: 0px 0px 30px 6px rgba(255,255,255,1);
    }
    20%{
        -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
        box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }

}
.our-team:hover{
    background: #f5f5f5;
    transition: all 0.9s ease 0s;
    animation-name: none;
}

.our-team .pic{
    display: inline-block;
    width: 130px;
    height: 130px;
    margin-bottom: 50px;
    /* background: #00263e; */
    position: relative;
    z-index: 1;
}
.our-team .pic::before{
    content: "";
    width: 100%;
    height: 0;
    background: #00263e;
    position: absolute;
    border-radius: 50%;
    bottom: 150%;
    right: 0;
    left: 0;
    transform: scale(3);
    /* transition: all 1s linear 0s; */
}
.our-team:hover .pic::before{
    height: 100%;
    transition: all .9s linear 0s;
}
.our-team .pic::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #00263e;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* transition: all 0.5s linear 0s; */
}
.our-team .pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}
.our-team:hover .pic img{
    box-shadow: 0 0 0 14px #005a76;
    transform: scale(0.7);
    filter: grayscale(0%)
}
.our-team .team-content{
    margin-bottom: 30px;
}
.our-team .title{
    font-family: bold-sweet;
    font-size: 3em;
    font-weight: 700;
    color: transparent;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.our-team .post{
    font-family: ageng;
    color: transparent;
    display: block;
    font-size: 1.3em;
    text-transform: capitalize;
}
span.post{
    padding: 1em;
}
.our-team:hover .title,
.our-team:hover .post{
    color: #00263e;
    transition: all 1s ease 1s;
}
.our-team .social{
    width: 100%;
    padding: 0;
    margin: 0;
    /* background: #00263e; */
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 1s ease 0s;
}
.our-team:hover .social{
    bottom: 0;
}
.our-team .social li{
    display: inline-block;

}
.our-team .social li a{
    margin-bottom: 1em;
    background: #00263e;
    display: block;
    font-family: bold-sweet;
    color: #fafafa;
    /* padding: 10px; */
    font-size: 2em;
    /* color: white; */
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    transition: all .5s ease 0s;
}
.our-team .social li a:hover{
    color: #005a76;
    background: #fafafa;
    text-decoration: none;
    /* -webkit-box-shadow: none;
    box-shadow: none; */
    border: 1px solid #00263e;
    transition: all .5s ease 0s;
}
div.container{
    /* background-color: #212121; */
}
div.container div.title{
    color: #212121;
}
hr{
    /* width: 100%; */
    height: 4em;
    background-color: #212121;
    position: relative;
    z-index: -10;
    bottom: 6em;
}
.sections{
    margin: 20px 0;
    background-color: #212121;
}
div.col.s10.m10.push-s1.push-m1.sections{
    padding: 0;
    /* -webkit-box-shadow: 0px 0px 30px 6px rgba(0,0,0,1); */
     border: white 2px solid;
}
i.fas.fa-5x{
    /* padding: .2em */
}
 /* .fa-user-circle .fa-5x {
    font-size: 1em;
} */
.icon{
    text-align: center;
    /* background-color: #fafafa; */
    position: absolute;
    bottom: .5em;
    z-index: 10;
    z-index: 10;
    left: 0;
    right: 0;
}
i.fas:before {
    color: #cfd8dc;
}
div #triangle{
    width: 17em;
    height: 17em;
    background-color: #005a76;
    position: absolute;
    left: 0;
    right: 0;
    bottom: .2em;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
    transform: rotate(45deg);
    /* border-color: #005a76 transparent;
	border-style: solid;
	border-width: 20px 20px 0px 20px;
	height: 0px;
	width: 0px; */
}
div .header{
    height: 11em;
    overflow: hidden;
    position: relative;
    text-align: center;
    margin: .5em;
    /* font-size: 5em; */
    color: #cfd8dc;
    font-family: bold-sweet;
   
}
div.header .title{
    font-size: 5em;
    position: relative;
    bottom: .1em;
    /* background-color: #212121; */
}
div.sub-title{
    font-family: bold-sweet;
    font-size: 5em;
    color: #212121
}
.row.hobbies{
    /* padding: 1em; */
}
/* div.col.cards{
    width: 30%;
} */
.content{
  /* text-align: center */
  font-size: 1.2em;
  font-family: ageng;
  background-color: #fafafa
  /* -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1); */
}
div p{
    padding: 1em;
}
.paragraph{
    padding: 1em;
    font-size: 1.4em;
    background-color: #fafafa;
    color: #212121;
}
i.fab:before {
    color: #fafafa;
}
div.portfolio {
    text-align: center;
}
div.icons{
    background-color: #fafafa;
}
/* div.icons span i{
    margin: .2em;
    
} */
.tab-list{
    height: 700px;
}
.tabs .tab a {
    color: #212121;
    font-family: bold-sweet;
    font-size: 2em;
}
.tabs .tab a:hover{
    color: #005a76;
}
.tabs .tab a.active{
    color: #fafafa
}
.tabs .indicator{
    background-color: #005a76;
}
div.summary{
    text-align: center;
    border-bottom: #212121 solid 1px;
    width: 50%;
    margin: auto;
    font-size: 2em;
    font-family: sweet;
    padding-top: .5em;
}
div.essay{
    height: 610px;
}
div.footer-header{
    text-align: center;
    height: 6em;
}
footer div.footer-header .title{
    color: #f5f5f5;
    font-size: 5em;
    font-family: bold-sweet;
}
footer.page-footer{
    background-color: #212121;
}
iframe{
    width: 100%;
    height: 600px;
}
/* div.carousel{
    height: 700px;
} */
/* .carousel .carousel-item{
    width: 500px;
} */
/* .carousel-codepen{
    height: 500px;
    width: 500px;
} */